@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Poppins&family=Unbounded&display=swap');
*{
    font-family:'Cabin',sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
nav{
    background-color: rgb(233, 62, 10);
}
.main_navbar{
    display: flex;
}
.nav_item ul{
    display: flex;
}
.nav_item ul li{
    list-style-type: none;
    margin-left: 20px;
}
.nav_item ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}
.sign{
    border-right: 1px solid white;
    padding-left: 250px;
}
.login{
    border-right: 1px solid white;
}
.feeds{
    border-right: 1px solid white;
}
.search{
    margin-top: 12px;
    padding-left: 300px;
}
input[type="search"]{
    height: 30px;
    border: none;
    border-radius: 1em;
    width: 250px;
}
.fa-magnifying-glass{
    color: rgb(187, 176, 176);
    font-size: 20px; 
}
.text h1{
    font-size: 35px;
    padding: 0;
    margin: 0;
}
.text h1 span{
    font-size: 50px;
}
.text p{
    margin: 0;
    padding: 0;
}
.text{
    margin-left: 320px;
    padding-top: 50px;
}
.main_text{
    display: flex;
}
.logo{
    margin-left: 500px;
    margin-top: 70px;
}
.logo > i{
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 50%;
}
.items ul{
    display: flex;
    margin-left: 275px;
    margin-top: 50px;
}
.items ul li{
    list-style-type: none;
    background-color: black;
    justify-content: center;
    padding: 15px;
    gap: 85px;
}
.items ul li a{
    text-decoration: none;
    color: white;
    padding-left: 33px;
}
.items ul li a:hover{
    color: red;
}
.slider_image img{
    height: 600px;
    width: 1015px;
    margin-left: 315px;
    outline: 5px solid #d6cece;
}
.blank_img{
    margin-top: 50px;
    height: 420px;
    width: 400px;
    background-color: black;
    color: white;
}
.blank_img h1{
    text-align: center;
    padding-top: 200px;
}
.blank{
    display: flex;
    margin-left: 310px;
}
.blank_text{
    width: 400px;
    margin-left: 10px;
    padding-bottom: 50px;
}
.blank_text h1{
    font-size: 60px;
    padding-top: 25px;
    margin-left: 45px;
}
.blank_text a{
    color: #990505;
    padding-left: 200px;
    text-decoration: none;
}
.bacground_section_color{
    background-color: rgb(194, 198, 202);
    margin-top: 50px;
}
.tile_image{
    height: 200px;
    width: 350px;
    background-color: black;
}
.tile_image h1{
    color: white;
    text-align: center;
    padding-top: 90px;
}
.about_us{
    padding-top: 100px;
    margin-left: 100px;
    display: flex; 
}
.title_us a{
    text-decoration: none;
    color: #aa0505;
    font-size: 20px;
    padding-left: 150px;
    width: 25%;
}
.title_us p{
    margin-top: 50px;
}
.title_us{
    width: 500px;
}
.servis_img1{
    height: 100px;
    width: 260px;
    background-color: black;
}
.servis_img1 h1{
    color: white;
    text-align: center;
    padding-top: 20px;
}
#servis_name2{
    padding-top: 30px;
}
#servis_name3{
    padding-top: 35px;
}
#servis_name4{
    padding-top: 35px;
    margin-bottom: 70px;
}
.servis_name1{
    display: flex;
    padding-top: 10px;
}
.servis_text1{
    padding-left: 10px;
}
.our_services{
    margin-left: 100px;
}
.our_services a{
    text-decoration: none;
    color: #990505;
    padding-left: 290px;
    font-size: 20px;
}
.clients{
    padding-left: 100px;
    width: 500px; 
}
.tommy1 .ceo{
    font-size: 20px;
}
.fa-quote-left{
    font-size: 70px;
}
.tommy1 a{
    text-decoration: none;
    color: red;
    font-size: 20px;
    padding-left: 200px;
}
.tommy p{
    padding-top: 50px;
}
#tommy2{
    padding-top: 150px;
}
.form{
    display: flex;
}
.tweets{
    width: 200px;
    padding-left: 150px;
    padding-top: 50px;
}
.tweets span{
    color: red;
}
.latest{
   padding-bottom: 50px;
}
.quick_link{
    width: 200px;
    padding-top: 50px;
    padding-left: 50px;
}
.quick_link h1{
    padding-bottom: 50px;
}
.quick_link a{
    text-decoration: none;
    color: rgb(65, 59, 59);
}
.quick_link a:hover{
    color: red;
}
.latest_post{
    width: 300px;
    padding-left: 50px;
    padding-top: 50px;
}
.latest_post a{
   text-decoration: none;
   color: red;
   padding-left: 200px;
}
.contact_us{
    width: 300px;
    padding-left: 50px;
    padding-top: 50px;
}
.contact_us input{
    width: 280px;
    margin-top: 25px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d6cece;
}
input[type="text area"]{
    height: 50px;
}
input[type="submit"]{
    width: 80px;
    color: red;
}
.main_footer{
    display: flex;
    margin-top: 50px;
    background-color: #d6cece;
    justify-content: center;
    gap: 300px;
    padding-top: 50px;
    height: 100px;
}
@media only screen and (max-width: 380px){
    body{
        margin: 0;
        padding: 0;
    }
    .main_navbar{
        display: flex;
        flex-wrap: wrap;
    }
    .nav_item ul{
        display: flex;
        flex-wrap: wrap;
    }
    .nav_item ul li{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .nav_item ul li a{
        color: white;
        text-decoration: none;
        padding: 10px;
        font-size: 15px;
    }
    .sign{
        border-right: 1px solid white;
    }
    .login{
        border-right: 1px solid white;
    }
    .feeds{
        border-right: 1px solid white;
    }
    .search{
        margin-top: 12px;
        padding-left: 90px;
        padding-bottom: 30px;
    }
    .text h1{
        font-size: 15px;
        padding: 0;
        margin: 0;
    }
    .text h1 span{
        font-size: 20px;
    }
    .text p{
        font-size: 15px;
    }
    .text{
        margin-left: 20px;
        padding-top: 50px;
    }
    .main_text{
        display: flex;
        flex-wrap: wrap;
    }
    .logo{
        margin-left: 10px;
        margin-top: 30px;
    }
    .items ul{
        display: flex;
        flex-wrap: wrap;
        margin-left: -35px;
    }
    .items ul li{
        list-style-type: none;
        background-color: black;
        padding: 5px;
        gap: 10px;
    }
    .items ul li a{
        text-decoration: none;
        color: white;
       font-size: 10px;
    }
    .slider_image img{
        height: 200px;
        width: 350px;
        margin-left: 10px;
        outline: 5px solid #d6cece;
    }
    .blank{
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
    }
    .bacground_section_color{
        background-color: rgb(194, 198, 202);
        margin-top: 10px;
    }
    .about_us{
        padding-top: 10px;
        margin-left: 10px;
       display: flex; 
       flex-wrap: wrap;
    }
    .our_services{
        margin-left: 10px;
    }
    .our_services a{
        text-decoration: none;
        color: #990505;
        padding-left: 100px;
        font-size: 20px;
    }
    .clients{
        padding-left: 10px;
        width: 500px; 
    }
    .tommy1 a{
        text-decoration: none;
        color: red;
        font-size: 20px;
        padding-left: 100px;
    }
    .tommy p{
        padding-top: 5px;
    }
    #tommy2{
        padding-top: 10px;
    }
    .form{
        display: flex;
        flex-wrap: wrap;
    }
    .tweets{
        width: 300px;
        padding-left: 20px;
        padding-top: 10px;
    }
    .quick_link{
        width: 300px;
        padding-top: 10px;
        padding-left: 20px;
    }
    .latest_post{
        width: 300px;
        padding-left: 10px;
        padding-top: 50px;
    }
    .contact_us{
        width: 300px;
        padding-left: 10px;
        padding-top: 10px;
    }
    .main_footer{
        display: flex;
        gap: 2o0px;
        flex-wrap: wrap;
        background-color: #585757;
        height: 200px;
    }   
}
